
@model IEnumerable<CoinPriceList>

<h1 class="mb-3 text-white fw-bold ">CoinPrice</h1>
<h2 class=" mb-3 small text-danger">Last Update: @TempData["lastUpdate"] </h2>


<table class="table table-bordered table-striped sortable" >
    <thead>
        <tr>
            <th>
                CryptoCoin
            </th>
            <th>
                Value
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.CoinName.ToUpper()
                </td>
                <td width="30%">
                    @obj.EurPrice
                    €
                </td>
            </tr>

        }
    </tbody>
</table>
