@model RegionModel

<link rel="stylesheet" href="~/css/weather.css" />
<innerBody>
    <div class="container2">

        <form method="post">

                    <input asp-for="RegionName" class="form-control" />

                    <button type="submit" class="btn btn-success">Submit</button>

                
        </form>
    </div>
</innerBody>


